.columns {
	background-color: #ccc;
	width: 100%;
}

#posts {
	background-color:  #666;
	display: inline-block;
	width: 60%;
	margin: 2%;
}

#news {
	margin: 2%;
	width: 30%;
	float: right;
}

nav {
	display: inline-block;
}

