body {
    margin: 0;
}

.columns {
	/*background-color: #ccc;*/
	width: 100%;
}

#posts {
	/*background-color:  #666;*/
	display: inline-block;
	width: 60%;
	margin: 2%;
}

#news {
	margin: 2%;
	width: 30%;
	float: right;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3D3D3;
    height: 90px;
    line-height: 60px;
}

.title {
    font-size: 2em;
}

.nav-li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a {
	color: black;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
.nav-li:hover {
    background-color: white;
}

.nav-right {
	float: right;
}

#post-show {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 60%;
    height: 60%;
}

textarea {
    width: 100%;
}

#login-pop {
    display: none;
}

