.columns {
	/*background-color: #ccc;*/
	width: 100%;
}

#posts {
	/*background-color:  #666;*/
	display: inline-block;
	width: 60%;
	margin: 2%;
}

#news {
	margin: 2%;
	width: 30%;
	float: right;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D3D3D3;
}

.nav-li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-li a {
	color: black;
}


/* Change the link color to #111 (black) on hover */
.nav-li:hover {
    background-color: #111;
}

.nav-right {
	float: right;
}

